%ol.breadcrumb
  %li Dashboard

%h3.text-center
  Bienvenid@
  = current_user.full_name

.row.middle-xs.center-xs
  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Módulo de Créditos Judiciales
      %hr
      .row.center-xs.middle-xs
        .col-xs-12
          .logo-creditos-judiciales{style: "height: 300px;"}
      = link_to "Ingresar", creditos_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Módulo de Créditos
      %hr
      .row.center-xs.middle-xs
        .col-xs-12
          .logo-creditos{style: "height: 300px;"}
      = link_to "Ingresar", credits_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Módulo de Recursos Humanos
      %hr
      .row.center-xs.middle-xs
        .col-xs-12
          .logo-recursos-humanos{style: "height: 300px;"}
      = link_to "Ingresar", recursos_humanos_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Módulo de Agencias
      %hr
      .row.center-xs.middle-xs
        .col-xs-12
          .logo-agencias{style: "height: 300px;"}
      = link_to "Ingresar", agencias_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Módulo de desempeño social
      %hr
      .row.center-xs.middle-xs
        .col-xs-12
          .logo-desempenio-social{style: "height: 300px;"}
      = link_to "Ingresar", desempenio_social_root_path, class: "btn btn-primary"