%h3.text-center
  Bienvenid@
  = current_user.full_name

.row.middle-xs.center-xs
  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema de Créditos Judiciales
      %p La herramienta de Gestión y Monitoreo de Cobranzas es parte del Sistema Web para la Gestión y Monitoreo de Áreas Estratégicas de la Cooperativa y contiene información sobre las operaciones de crédito que se encuentran en proceso de cobranza judicial y cuyo monitoreo y reporte proviene de fuentes externas a la institución.
      = link_to "Ingresar", creditos_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 2
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 3
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 4
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 5
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"