%h3.text-center
  Bienvenid@
  = current_user.full_name

.row.middle-xs.center-xs
  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema de Créditos Judiciales
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 2
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", creditos_root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 3
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 4
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"

  .col-xs-8.col-md-7.col-lg-5
    .card.bg-color-white.padding.bottom-space
      %h4 Sistema 5
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      = link_to "Ingresar", root_path, class: "btn btn-primary"