%ul.breadcrumb
  %li
    = link_to "Dashboard", root_path
  %li
    = link_to "Home", creditos_root_path
  %li.active
    Nuevos Juicios

.row.center-xs
  .col-xs-11
    %h2 Ingreso de nuevos juicios
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Id Credito
            %th Id Socio
            %th Nombres
            %th Saldo Total
            %th Monto Real
            %th Oficina
            %th Dias de Mora
            %th Tipo de credito
            %th Autorizar
        %tbody
          - @trials.each do |trial|
            %tr
              %th= trial["id_credito"].to_i
              %th= trial["id_socio"]
              %th= trial["nombres"]
              %th= trial["saldo_total"]
              %th= trial["monto_real"]
              %th= trial["oficina"]
              %th= trial["diasmora_pd"]
              %th= trial["tipo_credito"]
              %th= link_to "Autorizar", create_trial_root_path(trial: trial), class: "btn btn-danger", method: :post, data: {confirm: "Estas seguro!"}