%ul.breadcrumb
  %li
    = link_to "Dashboard", root_path
  %li
    = link_to "Home", creditos_root_path
  %li.active
    Nuevos Juicios

.row.center-xs
  .col-xs-11
    %h2 Ingreso de nuevos juicios
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Id Credito
            %th Id Socio
            %th Nombres
            %th Saldo Total
            %th Monto Real
            %th Oficina
            %th Dias de Mora
            %th Tipo de credito
            %th Autorizar
            %th Descartar
        %tbody
          - @trials.each do |trial|
            - unless trial["saldo_total"] == 1
              %tr
                %th= trial["id_credito"].to_i
                %th= trial["id_socio"]
                %th= trial["nombres"]
                %th= trial["saldo_total"]
                %th= trial["monto_real"]
                %th= trial["sucursal"]
                %th= trial["diasmora_pd"]
                %th= trial["tipo_credito"]
                %th
                  %a.btn.btn-danger.mostrar-modal{data: {toggle:"modal", target:"#modal#{trial["id_credito"]}"}}
                    Autorizar
                %th= link_to "Descartar", ingresar_discarded_trials_path(id_credito: trial["id_credito"].to_i), class: "btn btn-warning", method: :post, data: {confirm: "Estas seguro!"}
                .modal.fade{tabindex:"-1", role:"dialog", id: "modal#{trial["id_credito"]}"}
                  .modal-dialog{role: "document"}
                    = form_tag create_trial_root_path, method: :post do
                      .modal-content
                        .modal-header
                          %h4.modal-title Asignación del asesor
                        .modal-body
                          %p Selecciona el asesor que será responsable de este juicio.
                          = collection_select(:user, :user_id, User.where(permissions: 4), :id, :full_name, prompt: true)
                        .modal-footer
                          = hidden_field_tag 'trial', trial.to_json
                          = submit_tag "Autorizar", class: "btn btn-primary ingresar-pending-trial"

.row.center-xs
  .col-xs-11
    %h2 Créditos castigados
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Id Credito
            %th Id Socio
            %th Nombres
            %th Saldo Total
            %th Monto Real
            %th Oficina
            %th Dias de Mora
            %th Tipo de credito
            %th Autorizar
            %th Descartar
        %tbody
          - @trials.each do |trial|
            - if trial["saldo_total"] == 1
              %tr
                %th= trial["id_credito"].to_i
                %th= trial["id_socio"]
                %th= trial["nombres"]
                %th= trial["saldo_total"]
                %th= trial["monto_real"]
                %th= trial["sucursal"]
                %th= trial["diasmora_pd"]
                %th= trial["tipo_credito"]
                %th
                  %a.btn.btn-danger.mostrar-modal{data: {toggle:"modal", target:"#modal#{trial["id_credito"]}"}}
                    Autorizar
                %th= link_to "Descartar", ingresar_discarded_trials_path(id_credito: trial["id_credito"].to_i), class: "btn btn-warning", method: :post, data: {confirm: "Estas seguro!"}
                .modal.fade{tabindex:"-1", role:"dialog", id: "modal#{trial["id_credito"]}"}
                  .modal-dialog{role: "document"}
                    = form_tag create_trial_root_path, method: :post do
                      .modal-content
                        .modal-header
                          %h4.modal-title Asignación del asesor
                        .modal-body
                          %p Selecciona el asesor que será responsable de este juicio.
                          = collection_select(:user, :user_id, User.where(permissions: 4), :id, :full_name, prompt: true)
                        .modal-footer
                          = hidden_field_tag 'trial', trial.to_json
                          = submit_tag "Autorizar", class: "btn btn-primary ingresar-pending-trial"

.row.center-xs
  .col-xs-11
    %h2 Juicios descartados
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Id Credito
            %th Id Socio
            %th Nombres
            %th Saldo Total
            %th Monto Real
            %th Oficina
            %th Dias de Mora
            %th Tipo de credito
            %th Autorizar
        %tbody
          - @discarded.each do |discarded|
            - trial = Oracledb.buscar_credito_by_id_credito(discarded.juicio_id)
            - unless trial.nil?
              %tr
                %th= trial["id_credito"].to_i
                %th= trial["id_socio"]
                %th= trial["nombres"]
                %th= trial["saldo_total"]
                %th= trial["monto_real"]
                %th= trial["sucursal"]
                %th= trial["diasmora_pd"]
                %th= trial["tipo_credito"]
                %th= link_to "Activar", discarded_trial_path(discarded), class: "btn btn-warning", method: :delete, data: {confirm: "Estas seguro!"}