%h3.text-center
  Datos del credito
  %small= @insolvency.credit_id
  %small
    %span.label{class: "#{@semaforo_actual[1]}"}
      = @semaforo_actual[0]
%h5.text-center
  Juicio
  %small= @insolvency.estado
.row.center-xs
  .col-xs-11
    = img_juicio @insolvency.insolvency_stage.name, 'insolvencias'
    = render partial: "partials/creditos/buttons_states", locals: {tipo: "insolvencia", trial: @insolvency} if current_user.permissions == 5

.row.center-xs.middle-xs.top-space
  .col-xs-11
    .tabbable
      %ul.nav.nav-tabs.nav-append-content
        %li.active
          %a{href: "#tab1"}Datos del Crédito
        %li
          %a{href: "#tab2"}Datos de la Socia(o)
        %li
          %a{href: "#tab3"}Saldos
        %li
          %a{href: "#tab4"}Datos Judiciales
        %li
          %a{href: "#tab5"}Detalles
        %li
          %a{href: "#tab6"}Garantes
        %li
          %a{href: "#tab7"}Observaciones
      .tab-content

        .tab-pane.active{id: "tab1"}
          %h4.text-center Datos del Credito
          %hr
          .row.text-left
            .col-xs-6
              %p
                %b.text-primary Id Credito:
                = @insolvency.credit_id
              %p
                %b.text-primary Id Socio:
                = @insolvency.socio_id
              %p
                %b.text-primary Nombre grupo:
                = @insolvency.nombre_grupo
              %p
                %b.text-primary Grupo solidario:
                = @insolvency.grupo_solidario
              %p
                %b.text-primary Propietario de los bienes:
                = @insolvency.propietario_bienes
              %p
                %b.text-primary Fecha del juicio:
                = @insolvency.created_at

            .col-xs-6
              %p
                %b.text-primary Bienes:
                = @insolvency.bienes
              %p
                %b.text-primary Tipo credito:
                = @insolvency.tipo_credito
              %p
                %b.text-primary Etapa:
                = @insolvency.insolvency_stage.name
              %p
                %b.text-primary Proceso:
                = @insolvency.insolvency_activity.name
              %p
                %b.text-primary Estado:
                = @insolvency.estado
              %p
                %b.text-primary Fecha original del juicio:
                = @insolvency.fecha_original_juicio


        .tab-pane{id: "tab2"}
          %h4.text-center Datos de la Socia(o)
          %hr
          .row.text-left
            .col-xs-6
              %p
                %b.text-primary Nombres:
                = @insolvency.nombres
              %p
                %b.text-primary Cedula:
                = @insolvency.cedula
              %p
                %b.text-primary Telefono:
                = @insolvency.telefono
              %p
                %b.text-primary Celular:
                = @insolvency.celular

            .col-xs-6
              %p
                %b.text-primary Direccion:
                = @insolvency.direccion
              %p
                %b.text-primary Sector:
                = @insolvency.sector
              %p
                %b.text-primary Parroquia:
                = @insolvency.parroquia
              %p
                %b.text-primary Canton:
                = @insolvency.canton
              %p
                %b.text-primary Sucursal:
                = @insolvency.sucursal


        .tab-pane{id: "tab3"}
          %h4.text-center Datos Crediticios
          %hr
          .row.text-left
            .col-xs-4
              %p
                %b.text-primary Monto real:
                = @variables["monto_real"]
              %p
                %b.text-primary Saldo total:
                = @variables["saldo_total"]
              %p
                %b.text-primary Valor cancela:
                = @variables["valor_cancela"]
              %p
                %b.text-primary Gastos extra judiciales:
                = @variables["gastos_extra_judiciales"]
              %p
                %b.text-primary Valor Judicial:
                = @variables["valor_judicial"]
            .col-xs-4
              %p
                %b.text-primary Días de mora:
                = @variables["diasmora_pd"]
              %p
                %b.text-primary Provisión requerida:
                = @variables["provision_requerida"]
              %p
                %b.text-primary Calificación propia:
                = @variables["calificacion_propia"]
              %p
                %b.text-primary Demanda Judicial:
                = @variables["demanda_judicial"]
            .col-xs-4
              %p
                %b.text-primary Interés:
                = @variables["interes"]
              %p
                %b.text-primary Mora:
                = @variables["mora"]
              %p
                %b.text-primary Gasto judiciales:
                = @variables["gastos_judiciales"]
              %p
                %b.text-primary Total Adeudado:
                = @variables["total_adeudado"]


        .tab-pane{id: "tab4"}
          %h4.text-center Datos Judiciales
          %hr
          .row.text-left
            - if current_user.permissions == 4
              .col-xs-6
                %p
                  %b.text-primary Abogado
                  = best_in_place(@insolvency, :lawyer_id, :as => :select, collection: Lawyer.collection)
                %p
                  %b.text-primary Juicio:
                  = best_in_place @insolvency, :juicio_id
                %p
                  %b.text-primary Fecha entrega de juicio:
                  = best_in_place @insolvency, :fentrega_juicios, as: :date
              .col-xs-6
                %p
                  %b.text-primary Fecha calificacion de juicio:
                  = best_in_place @insolvency, :fcalificacion_juicio, as: :date
                %p
                  %b.text-primary Codigo juicio:
                  = best_in_place @insolvency, :codigo_juicio
            - else
              .col-xs-6
                %p
                  %b.text-primary Abogado
                  = @insolvency.lawyer.full_name
                %p
                  %b.text-primary Juicio:
                  = @insolvency.juicio_id
                %p
                  %b.text-primary Fecha entrega de juicio:
                  = @insolvency.fentrega_juicios.strftime('%B %d, del %Y') if @insolvency.fentrega_juicios
              .col-xs-6
                %p
                  %b.text-primary Fecha calificación de juicio:
                  = @insolvency.fcalificacion_juicio.strftime('%B %d, del %Y') if @insolvency.fcalificacion_juicio
                %p
                  %b.text-primary Codigo juicio:
                  = @insolvency.codigo_juicio


        .tab-pane{id: "tab5"}
          %h4.text-center Datos Extras
          %hr
          .row.text-left
            .col-xs-4
              %p
                %b.text-primary Oficial credito:
                = @insolvency.oficial_credito
              %p
                %b.text-primary Cartera heredada:
                = @insolvency.cartera_heredada
              %p
                %b.text-primary Fecha concesion:
                = @insolvency.fecha_concesion
              %p
                %b.text-primary Fecha vencimiento:
                = @insolvency.fecha_vencimiento
            .col-xs-4
              %p
                %b.text-primary Tipo garantia:
                = @insolvency.tipo_garantia
              %p
                %b.text-primary Garantia real:
                = @insolvency.garantia_real
              %p
                %b.text-primary Garantia fiduciaria:
                = @insolvency.garantia_fiduciaria
              %p
                %b.text-primary Valor cartera castigada:
                = @insolvency.valor_cartera_castigada
            .col-xs-4
              %p
                %b.text-primary Valor avalúo comercial:
                = @variables["valor_avaluo_comercial"]
              %p
                %b.text-primary Valor avalúo catastral:
                = @variables["valor_avaluo_catastral"]
              %p
                %b.text-primary Avalúo título:
                = @variables["avaluo_titulo"]



        .tab-pane{id: "tab6"}
          %h4.text-center Datos de los Garantes
          %hr
          .row.text-left
            .col-xs-4
              %p
                %b.text-primary Nombres Garante 1:
                = @insolvency.nom_garante1
              %p
                %b.text-primary Cédula Garante 1:
                = @insolvency.ci_garante_1
              %p
                %b.text-primary Cony Garante 1:
                = @insolvency.cony_garante1
            .col-xs-4
              %p
                %b.text-primary Nombres Garante 2:
                = @insolvency.nom_garante2
              %p
                %b.text-primary Cédula Garante 2:
                = @insolvency.ci_garante2
              %p
                %b.text-primary Cony Garante 2:
                = @insolvency.cony_garante2
            .col-xs-4
              %p
                %b.text-primary Dirección garante:
                = @insolvency.dir_garante
              %p
                %b.text-primary Teléfono garante:
                = @insolvency.tel_garante

        .tab-pane{id: "tab7"}
          .row
            - if current_user.permissions == 4
              .col-xs-10.start-xs.top-space
                %h4.text-center Observaciones
                %p.text-left
                  = best_in_place @insolvency, :observaciones, :as => :textarea
            - else
              .col-xs-10.start-xs.top-space
                %h4.text-center Observaciones
                %p.text-left= @insolvency.observaciones