%p#notice= notice

%p
  %b Credit:
  = @insolvency.credit_id
%p
  %b Socio:
  = @insolvency.socio_id
%p
  %b Nombres:
  = @insolvency.nombres
%p
  %b Cedula:
  = @insolvency.cedula
%p
  %b Telefono:
  = @insolvency.telefono
%p
  %b Celular:
  = @insolvency.celular
%p
  %b Direccion:
  = @insolvency.direccion
%p
  %b Sector:
  = @insolvency.sector
%p
  %b Parroquia:
  = @insolvency.parroquia
%p
  %b Canton:
  = @insolvency.canton
%p
  %b Nombre grupo:
  = @insolvency.nombre_grupo
%p
  %b Grupo solidario:
  = @insolvency.grupo_solidario
%p
  %b Sucursal:
  = @insolvency.sucursal
%p
  %b Oficial credito:
  = @insolvency.oficial_credito
%p
  %b Cartera heredada:
  = @insolvency.cartera_heredada
%p
  %b Fecha concesion:
  = @insolvency.fecha_concesion
%p
  %b Fecha vencimiento:
  = @insolvency.fecha_vencimiento
%p
  %b Tipo garantia:
  = @insolvency.tipo_garantia
%p
  %b Garantia real:
  = @insolvency.garantia_real
%p
  %b Garantia fiduciaria:
  = @insolvency.garantia_fiduciaria
%p
  %b Dir garante:
  = @insolvency.dir_garante
%p
  %b Tel garante:
  = @insolvency.tel_garante
%p
  %b Valor cartera castigada:
  = @insolvency.valor_cartera_castigada
%p
  %b Bienes:
  = @insolvency.bienes
%p
  %b Tipo credito:
  = @insolvency.tipo_credito
%p
  %b Insolvency stage:
  = @insolvency.insolvency_stage
%p
  %b Insolvency activity:
  = @insolvency.insolvency_activity
%p
  %b Estado:
  = @insolvency.estado
%p
  %b Observaciones:
  = @insolvency.observaciones
%p
  %b Juicio:
  = @insolvency.juicio_id
%p
  %b Fentrega juicios:
  = @insolvency.fentrega_juicios
%p
  %b Fcalificacion juicio:
  = @insolvency.fcalificacion_juicio
%p
  %b Codigo juicio:
  = @insolvency.codigo_juicio

= link_to 'Edit', edit_insolvency_path(@insolvency)
\|
= link_to 'Back', insolvencies_path
