%p#notice= notice

%p
  %b Credit:
  = @pending_trial.credit_id
%p
  %b Socio:
  = @pending_trial.socio_id
%p
  %b Nombres:
  = @pending_trial.nombres
%p
  %b Cedula:
  = @pending_trial.cedula
%p
  %b Telefono:
  = @pending_trial.telefono
%p
  %b Celular:
  = @pending_trial.celular
%p
  %b Direccion:
  = @pending_trial.direccion
%p
  %b Sector:
  = @pending_trial.sector
%p
  %b Parroquia:
  = @pending_trial.parroquia
%p
  %b Canton:
  = @pending_trial.canton
%p
  %b Nombre grupo:
  = @pending_trial.nombre_grupo
%p
  %b Grupo solidario:
  = @pending_trial.grupo_solidario
%p
  %b Sucursal:
  = @pending_trial.sucursal
%p
  %b Oficial credito:
  = @pending_trial.oficial_credito
%p
  %b Cartera heredada:
  = @pending_trial.cartera_heredada
%p
  %b Fecha concesion:
  = @pending_trial.fecha_concesion
%p
  %b Fecha vencimiento:
  = @pending_trial.fecha_vencimiento
%p
  %b Tipo garantia:
  = @pending_trial.tipo_garantia
%p
  %b Garantia real:
  = @pending_trial.garantia_real
%p
  %b Garantia fiduciaria:
  = @pending_trial.garantia_fiduciaria
%p
  %b Dir garante:
  = @pending_trial.dir_garante
%p
  %b Tel garante:
  = @pending_trial.tel_garante
%p
  %b Valor cartera castigada:
  = @pending_trial.valor_cartera_castigada
%p
  %b Bienes:
  = @pending_trial.bienes
%p
  %b Tipo credito:
  = @pending_trial.tipo_credito

= link_to 'Back', pending_trials_path
