%ul.breadcrumb
  %li
    = link_to "Dashboard", root_path
  %li
    = link_to "Home", creditos_root_path
  %li.active
    Monitoreo

.row.center-xs
  .col-xs-11
    %h2{data: {toggle: "tooltip", tooltip: {style:"light"}, placement: "bottom" }, title:"Recuerda que se guardará el historial con fecha del mes anterior"}
      Monitoreo mensual de créditos
  .col-xs-11
    = link_to "Guardar monitoreo mensual", store_history_credits_path, method: :post, class: "btn btn-wide btn-danger", data: {confirm: "Estás segura?"}
  .col-xs-11
    %h3{data: {toggle: "tooltip", tooltip: {style:"light"}, placement: "top" }, title:"Aquí te mostramos las fechas de los historiales que ya han sido guardados"}
      Historial de guardado
    %ul{class: "nav nav-list nav-list-vivid"}
      - if @fechas.empty?
        %li Todavía no tienes historiales guardados
      - else
        - @fechas.each do |fecha|
          %li= fecha

%h3.text-center.text-muted Juicios con Bienes
.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Etapa Actual
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @goods.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.good_stage.name
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", good_path(trial), class: "btn btn-inverse"

%h3.text-center.text-muted Juicios sin Bienes
.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Etapa Actual
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @withoutgoods.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.withoutgood_stage.name
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", without_good_path(trial), class: "btn btn-inverse"


%h3.text-center.text-muted Juicios de Insolvencia
.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Etapa Actual
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @insolvencies.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.insolvency_stage.name
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", insolvency_path(trial), class: "btn btn-inverse"
