%h3.text-center
  Datos del credito
  %small= @without_good.credit_id
  %small
    %span.label{class: "#{@semaforo_actual[1]}"}
      = @semaforo_actual[0]
%h5.text-center
  Juicio
  %small.color-cyan-400= @without_good.estado
.row.center-xs
  .col-xs-11
    = img_juicio @without_good.withoutgood_stage.name, 'sinbienes'
    = render partial: "partials/creditos/buttons_states", locals: {tipo: "sinbienes", trial: @without_good} if current_user.permissions == 5
.row.center-xs
  .col-xs-6.top-space.text-left
    .card.bg-color-white.padding
      %h4.text-center Datos del Credito
      %hr
      .row
        .col-xs-6
          %p
            %b Id Crédito:
            = @without_good.credit_id
          %p
            %b Id Socio:
            = @without_good.socio_id
          %p
            %b Nombre grupo:
            = @without_good.nombre_grupo
          %p
            %b Grupo solidario:
            = @without_good.grupo_solidario

        .col-xs-6
          %p
            %b Bienes:
            = @without_good.bienes
          %p
            %b Tipo crédito:
            = @without_good.tipo_credito
          %p
            %b Etapa:
            = @without_good.withoutgood_stage.name
          %p
            %b Proceso:
            = @without_good.without_good_activity.name
          %p
            %b Estado:
            = @without_good.estado

  .col-xs-5.top-space
    .card.bg-color-white.padding.bottom-space
      %h4.text-center Datos del Cliente
      %hr
      .row.text-left
        .col-xs-6
          %p
            %b Nombres:
            = @without_good.nombres
          %p
            %b Cedula:
            = @without_good.cedula
          %p
            %b Teléfono:
            = @without_good.telefono
          %p
            %b Celular:
            = @without_good.celular

        .col-xs-6
          %p
            %b Dirección:
            = @without_good.direccion
          %p
            %b Sector:
            = @without_good.sector
          %p
            %b Parroquia:
            = @without_good.parroquia
          %p
            %b Cantón:
            = @without_good.canton
          %p
            %b Sucursal:
            = @without_good.sucursal

  .col-xs-11
    .card.bg-color-white.padding
      %h4.text-center Datos Extras
      %hr
      .row.text-left
        .col-xs-4
          %p
            %b Oficial crédito:
            = @without_good.oficial_credito
          %p
            %b Cartera heredada:
            = @without_good.cartera_heredada
          %p
            %b Fecha concesión:
            = @without_good.fecha_concesion
          %p
            %b Fecha vencimiento:
            = @without_good.fecha_vencimiento
        .col-xs-4
          %p
            %b Tipo garantia:
            = @without_good.tipo_garantia
          %p
            %b Garantia real:
            = @without_good.garantia_real
          %p
            %b Garantia fiduciaria:
            = @without_good.garantia_fiduciaria
        .col-xs-4
          %p
            %b Dir garante:
            = @without_good.dir_garante
          %p
            %b Tel garante:
            = @without_good.tel_garante
          %p
            %b Valor cartera castigada:
            = @without_good.valor_cartera_castigada

  .col-xs-5.top-space
    .card.bg-color-white.padding
      %h4.text-center Datos Extras
      %hr
      .row.text-left
        .col-xs-6
          %p
            %b Monto real:
            = @variables[0]["MONTO_REAL"]
          %p
            %b Saldo total:
            = @variables[0]["SALDO_TOTAL"]
          %p
            %b Valor cancela:
            = @variables[0]["VALOR_CANCELA"]
        .col-xs-6
          %p
            %b Días de mora:
            = @variables[0]["DIASMORA_PD"]
          %p
            %b Provisión requerida:
            = @variables[0]["PROVISION_REQUERIDA"]
          %p
            %b Calificación propia:
            = @variables[0]["CALIFICACION_PROPIA"]

  .col-xs-6.text-left
    .card.padding.bottom-space.top-space.bg-color-red-200
      %h4.text-center Datos Judiciales
      %hr
      .row.text-left
        - if current_user.permissions == 4
          .col-xs-6
            %p
              %b Abogado
              = best_in_place(@without_good, :lawyer_id, :as => :select, collection: Lawyer.collection)
            %p
              %b Juicio:
              = best_in_place @without_good, :juicio_id
            %p
              %b Fecha de entrega del juicios:
              = best_in_place @without_good, :fentrega_juicios, as: :date
          .col-xs-6
            %p
              %b Feca de calificacion del juicio:
              = best_in_place @without_good, :fcalificacion_juicio, as: :date
            %p
              %b Codigo juicio:
              = best_in_place @without_good, :codigo_juicio
        - else
          .col-xs-6
            %p
              %b Abogado
              = @without_good.lawyer.full_name
            %p
              %b Juicio:
              = @without_good.juicio_id
            %p
              %b Fecha entrega de juicio:
              = @without_good.fentrega_juicios.strftime('%B %d, del %Y') if @without_good.fentrega_juicios
          .col-xs-6
            %p
              %b Fecha calificacion de juicio:
              = @without_good.fcalificacion_juicio.strftime('%B %d, del %Y') if @without_good.fcalificacion_juicio
            %p
              %b Codigo juicio:
              = @without_good.codigo_juicio


  - if current_user.permissions == 4
    .col-xs-10.start-xs.top-space
      %h4.text-center Observaciones
      %p.text-left
        = best_in_place @without_good, :observaciones, :as => :textarea
  - else
    .col-xs-10.start-xs.top-space
      %h4.text-center Observaciones
      %p.text-left= @without_good.observaciones
