%p#notice= notice

%p
  %b Credit:
  = @without_good.credit_id
%p
  %b Socio:
  = @without_good.socio_id
%p
  %b Nombres:
  = @without_good.nombres
%p
  %b Cedula:
  = @without_good.cedula
%p
  %b Telefono:
  = @without_good.telefono
%p
  %b Celular:
  = @without_good.celular
%p
  %b Direccion:
  = @without_good.direccion
%p
  %b Sector:
  = @without_good.sector
%p
  %b Parroquia:
  = @without_good.parroquia
%p
  %b Canton:
  = @without_good.canton
%p
  %b Nombre grupo:
  = @without_good.nombre_grupo
%p
  %b Grupo solidario:
  = @without_good.grupo_solidario
%p
  %b Sucursal:
  = @without_good.sucursal
%p
  %b Oficial credito:
  = @without_good.oficial_credito
%p
  %b Cartera heredada:
  = @without_good.cartera_heredada
%p
  %b Fecha concesion:
  = @without_good.fecha_concesion
%p
  %b Fecha vencimiento:
  = @without_good.fecha_vencimiento
%p
  %b Tipo garantia:
  = @without_good.tipo_garantia
%p
  %b Garantia real:
  = @without_good.garantia_real
%p
  %b Garantia fiduciaria:
  = @without_good.garantia_fiduciaria
%p
  %b Dir garante:
  = @without_good.dir_garante
%p
  %b Tel garante:
  = @without_good.tel_garante
%p
  %b Valor cartera castigada:
  = @without_good.valor_cartera_castigada
%p
  %b Bienes:
  = @without_good.bienes
%p
  %b Tipo credito:
  = @without_good.tipo_credito
%p
  %b Withoutgood stage:
  = @without_good.withoutgood_stage
%p
  %b Without good activity:
  = @without_good.without_good_activity
%p
  %b Estado:
  = @without_good.estado
%p
  %b Observaciones:
  = @without_good.observaciones
%p
  %b Juicio:
  = @without_good.juicio_id
%p
  %b Fentrega juicios:
  = @without_good.fentrega_juicios
%p
  %b Fcalificacion juicio:
  = @without_good.fcalificacion_juicio
%p
  %b Codigo juicio:
  = @without_good.codigo_juicio

= link_to 'Edit', edit_without_good_path(@without_good)
\|
= link_to 'Back', without_goods_path
