%h3.text-center.text-muted Juicios con Bienes

.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Cédula
            %th Etapa Actual
            %th Proceso
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @conBienes.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.cedula
              %td= best_in_place(trial, :good_stage_id, :as => :select, collection: GoodStage.collection)
              %td= best_in_place(trial, :good_activity_id, :as => :select, collection: trial.good_stage.get_activities)
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", good_path(trial), class: "btn btn-info"

%h3.text-center.text-muted Juicios sin Bienes
.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Cédula
            %th Etapa Actual
            %th Proceso
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @sinBienes.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.cedula
              %td= best_in_place(trial, :withoutgood_stage_id, :as => :select, collection: WithoutgoodStage.collection)
              %td= best_in_place(trial, :without_good_activity_id, :as => :select, collection: trial.withoutgood_stage.get_activities)
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", without_good_path(trial), class: "btn btn-info"


%h3.text-center.text-muted Juicios de Insolvencia
.row.center-xs
  .col-xs-11
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Nombre
            %th Id Crédito
            %th Id Socio
            %th Cédula
            %th Etapa Actual
            %th Proceso
            %th Estado
            %th Semaforo
            %th Ver
        %tbody
          - @insolvencias.each do |trial|
            - semaforos = trial.semaforo
            %tr
              %td= trial.nombres
              %td= trial.credit_id
              %td= trial.socio_id
              %td= trial.cedula
              %td= best_in_place(trial, :insolvency_stage_id, :as => :select, collection: InsolvencyStage.collection)
              %td= best_in_place(trial, :insolvency_activity_id, :as => :select, collection: trial.insolvency_stage.get_activities)
              %td= trial.estado
              %td
                %span.label{class: "#{semaforos[1]}"}
                  = semaforos[0]
              %td= link_to "Ver", insolvency_path(trial), class: "btn btn-info"