%h1 Listing insolvency_stages

%table
  %thead
    %tr
      %th Name
      %th Months
      %th Days
      %th
      %th
      %th

  %tbody
    - @insolvency_stages.each do |insolvency_stage|
      %tr
        %td= insolvency_stage.name
        %td= insolvency_stage.months
        %td= insolvency_stage.days
        %td= link_to 'Show', insolvency_stage
        %td= link_to 'Edit', edit_insolvency_stage_path(insolvency_stage)
        %td= link_to 'Destroy', insolvency_stage, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Insolvency stage', new_insolvency_stage_path
