%p#notice= notice

%p
  %b Credit:
  = @good.credit_id
%p
  %b Socio:
  = @good.socio_id
%p
  %b Nombres:
  = @good.nombres
%p
  %b Cedula:
  = @good.cedula
%p
  %b Telefono:
  = @good.telefono
%p
  %b Celular:
  = @good.celular
%p
  %b Direccion:
  = @good.direccion
%p
  %b Sector:
  = @good.sector
%p
  %b Parroquia:
  = @good.parroquia
%p
  %b Canton:
  = @good.canton
%p
  %b Nombre grupo:
  = @good.nombre_grupo
%p
  %b Grupo solidario:
  = @good.grupo_solidario
%p
  %b Sucursal:
  = @good.sucursal
%p
  %b Oficial credito:
  = @good.oficial_credito
%p
  %b Cartera heredada:
  = @good.cartera_heredada
%p
  %b Fecha concesion:
  = @good.fecha_concesion
%p
  %b Fecha vencimiento:
  = @good.fecha_vencimiento
%p
  %b Tipo garantia:
  = @good.tipo_garantia
%p
  %b Garantia real:
  = @good.garantia_real
%p
  %b Garantia fiduciaria:
  = @good.garantia_fiduciaria
%p
  %b Dir garante:
  = @good.dir_garante
%p
  %b Tel garante:
  = @good.tel_garante
%p
  %b Valor cartera castigada:
  = @good.valor_cartera_castigada
%p
  %b Bienes:
  = @good.bienes
%p
  %b Tipo credito:
  = @good.tipo_credito
%p
  %b Good stage:
  = @good.good_stage
%p
  %b Good activity:
  = @good.good_activity
%p
  %b Estado:
  = @good.estado
%p
  %b Observaciones:
  = @good.observaciones
%p
  %b Juicio:
  = @good.juicio_id
%p
  %b Fentrega juicios:
  = @good.fentrega_juicios
%p
  %b Fcalificacion juicio:
  = @good.fcalificacion_juicio
%p
  %b Codigo juicio:
  = @good.codigo_juicio

= link_to 'Edit', edit_good_path(@good)
\|
= link_to 'Back', goods_path
