%h3.text-center
  Datos del credito
  %small= @good.credit_id
  %small
    %span.label{class: "#{@semaforo_actual[1]}"}
      = @semaforo_actual[0]
%h5.text-center
  Juicio
  %small.color-cyan-400= @good.estado

.row.center-xs
  .col-xs-11
    = img_juicio @good.good_stage.name, 'bienes'
    = render partial: "partials/creditos/buttons_states", locals: {tipo: "bienes", trial: @good} if current_user.permissions == 5

.row.center-xs.middle-xs.top-space
  .col-xs-11
    .tabbable
      %ul.nav.nav-tabs.nav-append-content
        %li.active
          %a{href: "#tab1"}Datos del Crédito
        %li
          %a{href: "#tab2"}Datos del Cliente
        %li
          %a{href: "#tab3"}Saldos
        %li
          %a{href: "#tab4"}Datos Judiciales
        %li
          %a{href: "#tab5"}Detalles
        %li
          %a{href: "#tab6"}Observaciones
      .tab-content


        .tab-pane.active{id: "tab1"}
          %h4.text-center Datos del Credito
          %hr
          .row.text-left
            .col-xs-6
              %p
                %b.text-primary Id Crédito:
                = @good.credit_id
              %p
                %b.text-primary Id Socio:
                = @good.socio_id
              %p
                %b.text-primary Nombre grupo:
                = @good.nombre_grupo
              %p
                %b.text-primary Grupo solidario:
                = @good.grupo_solidario
            .col-xs-6
              %p
                %b.text-primary Bienes:
                = @good.bienes
              %p
                %b.text-primary Tipo crédito:
                = @good.tipo_credito
              %p
                %b.text-primary Etapa:
                = @good.good_stage.name
              %p
                %b.text-primary Proceso:
                = @good.good_activity.name
              %p
                %b.text-primary Estado:
                = @good.estado



        .tab-pane{id: "tab2"}
          %h4.text-center Datos del Cliente
          %hr
          .row.text-left
            .col-xs-6
              %p
                %b.text-primary Nombres:
                = @good.nombres
              %p
                %b.text-primary Cedula:
                = @good.cedula
              %p
                %b.text-primary Teléfono:
                = @good.telefono
              %p
                %b.text-primary Celular:
                = @good.celular

            .col-xs-6
              %p
                %b.text-primary Dirección:
                = @good.direccion
              %p
                %b.text-primary Sector:
                = @good.sector
              %p
                %b.text-primary Parroquia:
                = @good.parroquia
              %p
                %b.text-primary Cantón:
                = @good.canton
              %p
                %b.text-primary Sucursal:
                = @good.sucursal


        .tab-pane{id: "tab3"}
          %h4.text-center Datos Extras
          %hr
          .row.text-left
            .col-xs-6
              %p
                %b.text-primary Monto real:
                = @variables[0]["MONTO_REAL"]
              %p
                %b.text-primary Saldo total:
                = @variables[0]["SALDO_TOTAL"]
              %p
                %b.text-primary Valor cancela:
                = @variables[0]["VALOR_CANCELA"]
            .col-xs-6
              %p
                %b.text-primary Días de mora:
                = @variables[0]["DIASMORA_PD"]
              %p
                %b.text-primary Provisión requerida:
                = @variables[0]["PROVISION_REQUERIDA"]
              %p
                %b.text-primary Calificación propia:
                = @variables[0]["CALIFICACION_PROPIA"]


        .tab-pane{id: "tab4"}
          %h4.text-center Datos Judiciales
          %hr
          .row.text-left
            - if current_user.permissions == 4
              .col-xs-6
                %p
                  %b.text-primary Abogado
                  = best_in_place(@good, :lawyer_id, :as => :select, collection: Lawyer.collection)
                %p
                  %b.text-primary Juicio:
                  = best_in_place @good, :juicio_id
                %p
                  %b.text-primary Fecha entrega del juicio:
                  = best_in_place @good, :fentrega_juicios, as: :date
              .col-xs-6
                %p
                  %b.text-primary Fecha calificacion de juicio:
                  = best_in_place @good, :fcalificacion_juicio, as: :date
                %p
                  %b.text-primary Codigo juicio:
                  = best_in_place @good, :codigo_juicio
            - else
              .col-xs-6
                %p
                  %b.text-primary Abogado
                  = @good.lawyer.full_name
                %p
                  %b.text-primary Juicio:
                  = @good.juicio_id
                %p
                  %b.text-primary Fecha entrega juicios:
                  = @good.fentrega_juicios.strftime('%B %d, del %Y') if @good.fentrega_juicios
              .col-xs-6
                %p
                  %b.text-primary Fecha calificacion juicio:
                  = @good.fcalificacion_juicio.strftime('%B %d, del %Y') if @good.fcalificacion_juicio
                %p
                  %b.text-primary Código juicio:
                  = @good.codigo_juicio


        .tab-pane{id: "tab5"}
          %h4.text-center Datos Extras
          %hr
          .row.text-left
            .col-xs-4
              %p
                %b.text-primary Oficial credito:
                = @good.oficial_credito
              %p
                %b.text-primary Cartera heredada:
                = @good.cartera_heredada
              %p
                %b.text-primary Fecha concesion:
                = @good.fecha_concesion
              %p
                %b.text-primary Fecha vencimiento:
                = @good.fecha_vencimiento
            .col-xs-4
              %p
                %b.text-primary Tipo garantia:
                = @good.tipo_garantia
              %p
                %b.text-primary Garantia real:
                = @good.garantia_real
              %p
                %b.text-primary Garantia fiduciaria:
                = @good.garantia_fiduciaria
            .col-xs-4
              %p
                %b.text-primary Dir garante:
                = @good.dir_garante
              %p
                %b.text-primary Tel garante:
                = @good.tel_garante
              %p
                %b.text-primary Valor cartera castigada:
                = @good.valor_cartera_castigada


        .tab-pane{id: "tab6"}
          .row
            - if current_user.permissions == 4
              .col-xs-10.start-xs.top-space
                %h4.text-center Observaciones
                %p.text-left
                  = best_in_place @good, :observaciones, :as => :textarea
            - else
              .col-xs-10.start-xs.top-space
                %h4.text-center Observaciones
                %p.text-left= @good.observaciones